/* Color Theme Swatches in Hex */
.color-theme_Screen-Shot-2022-08-20-at-12-1-hex { color: #0A2540; }
.color-theme_Screen-Shot-2022-08-20-at-12-2-hex { color: #0D2E4E; }
.color-theme_Screen-Shot-2022-08-20-at-12-3-hex { color: #7A73FE; }
.color-theme_Screen-Shot-2022-08-20-at-12-4-hex { color: #00D4FF; }
.color-theme_Screen-Shot-2022-08-20-at-12-5-hex { color: #ADBDCC; }


body {
  background-color: #0D2E4E;
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#nav-bar {
  background-color: #0A2540;
  padding: 25px 0px 40px 50px;
}

#goals-container {
  display: flex;
  margin-top: 50px;
}


#accomplishments-container{
  display: flex;
  margin-top: 50px;
}

.card {
  margin: 25px;
  width: 400px;
  border-radius: 10px;
  padding: 10px 20px;
}

#accomplishments-container .card{
  background-color: #433d8c;
}

#goals-container .card {
  background-color: #0A2540;
}

.card .delete-button {
  width: 25px;
  height: 25px;
	border: none;
  border-radius: 50%;
	padding: 3px;
  margin: 10px 0px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  align-content: flex-end;
}

#goals-container .card .delete-button {
  background-color: #7A73FE;
}

#accomplishments-container .card .delete-button {
  color: white;
  background-color: rgba(255, 255, 255, 0%);
}


.card img{
  display: inline;
  align-items: center;
  width: 10%;
}

.card p .label {
  color: #adbdcc81;
}

.card .progress-slider {
  width: 100%;
}

#form-section {
  margin: 50px;
}

form input, select {
  padding: 10px;
  border-radius: 10px;
}

form select{
  font-weight: bold;
  margin: 0px 15px 0px 0px;
}

form input{
  margin: 0px 15px 0px 5px;
}





